DBQuery.SQL
CustomerSite/.vs/*
CustomerSite/bin/*
EcommerceAPI/.vs/*
EcommerceAPI/bin/*
CustomerSite/CustomerSite.csproj
CustomerSite/CustomerSite.csproj.user
CustomerSite/obj/*
EcommerceAPI/obj/*
EcommerceAPI/EcommerceAPI.csproj
EcommerceAPI/EcommerceAPI.csproj.user