DBQuery.SQL
CustomerSite/.vs/*
CustomerSite/bin/*
EcommerceAPI/.vs/*
EcommerceAPI/bin/*
CustomerSite/CustomerSite.csproj
CustomerSite/CustomerSite.csproj.user
CustomerSite/obj/CustomerSite.csproj.nuget.dgspec.json
CustomerSite/obj/CustomerSite.csproj.nuget.g.props
CustomerSite/obj/project.assets.json
CustomerSite/obj/project.nuget.cache
CustomerSite/obj/staticwebassets.pack.sentinel
CustomerSite/obj/Debug/net6.0/CustomerSite.assets.cache
CustomerSite/obj/Debug/net6.0/CustomerSite.csproj.AssemblyReference.cache
CustomerSite/obj/Debug/net6.0/CustomerSite.csproj.BuildWithSkipAnalyzers
CustomerSite/obj/Debug/net6.0/CustomerSite.csproj.CoreCompileInputs.cache
CustomerSite/obj/Debug/net6.0/CustomerSite.csproj.FileListAbsolute.txt
CustomerSite/obj/Debug/net6.0/CustomerSite.dll
CustomerSite/obj/Debug/net6.0/CustomerSite.GeneratedMSBuildEditorConfig.editorconfig
CustomerSite/obj/Debug/net6.0/CustomerSite.pdb
CustomerSite/obj/Debug/net6.0/project.razor.vs.json
CustomerSite/obj/Debug/net6.0/ref/CustomerSite.dll
CustomerSite/obj/Debug/net6.0/refint/CustomerSite.dll
CustomerSite/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CustomerSite/obj/Release/net6.0/CustomerSite.AssemblyInfo.cs
CustomerSite/obj/Release/net6.0/CustomerSite.AssemblyInfoInputs.cache
CustomerSite/obj/Release/net6.0/CustomerSite.assets.cache
CustomerSite/obj/Release/net6.0/CustomerSite.csproj.AssemblyReference.cache
CustomerSite/obj/Release/net6.0/CustomerSite.GeneratedMSBuildEditorConfig.editorconfig
CustomerSite/obj/Release/net6.0/CustomerSite.GlobalUsings.g.cs
CustomerSite/obj/Release/net6.0/CustomerSite.RazorAssemblyInfo.cache
CustomerSite/obj/Release/net6.0/CustomerSite.RazorAssemblyInfo.cs
EcommerceAPI/obj/staticwebassets.pack.sentinel
EcommerceAPI/obj/Debug/net6.0/EcommerceAPI.csproj.AssemblyReference.cache
EcommerceAPI/obj/Debug/net6.0/EcommerceAPI.csproj.CoreCompileInputs.cache
EcommerceAPI/obj/Debug/net6.0/EcommerceAPI.dll
EcommerceAPI/obj/Debug/net6.0/EcommerceAPI.pdb
EcommerceAPI/obj/Debug/net6.0/ref/EcommerceAPI.dll
EcommerceAPI/obj/Debug/net6.0/refint/EcommerceAPI.dll
EcommerceAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.AssemblyInfo.cs
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.AssemblyInfoInputs.cache
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.assets.cache
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.csproj.AssemblyReference.cache
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.GeneratedMSBuildEditorConfig.editorconfig
EcommerceAPI/obj/Release/net6.0/EcommerceAPI.GlobalUsings.g.cs
