@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-nav col-6">
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown nav-item">
        <a class="nav-link text-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="text-end fa fa-user" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item btn btn-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="nav-item btn-group">
        <a class="btn btn-outline-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
</div>
