.productCard:hover {
    transform: scale(1.01);
    box-shadow: 1px 2px 2px 1px lightgray;
    background-color: z-index: 1;
}

#rating{
    text-align: center;
}

#ogPrice{
    text-decoration: line-through;
}
