@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
    string prevPage = Context.Request.Headers["Referer"].ToString();
}

<div className="text-center p-5">
    <h1 class="mt-5 pt-5 text-center">REGISTER</h1>
    <hr />
    <form asp-action="Register" method="post" asp-route-prevPage="@prevPage" class="form d-flex justify-content-center">
        <div class="d-flex justify-content-center h-100 w-25 p-3 shadow bg-white rounded">
            <table class="h-50">
                <tbody>
                    <tr>
                        <td><b>Username</b></td>
                        <td>
                            <input required class="input form-control" type="email" name="name" placeholder="Username..." />
                        </td>
                    </tr>
                    <tr>
                        <td><b>Password</b></td>
                        <td>
                            <input required class="input form-control" type="password" name="password" placeholder="Password..." />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-success" type="submit">
                                Register
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
